/*
Theme Name: _b
Theme URI: http://arnel.it
Author: arnel
Author URI: http://arnel.it/_a
Description:  bla bla bla
Version: 1.1
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: black

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 80px;
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}

.container .text-muted {
  margin: 20px 0;
}

img{max-width: 650px;}

a {
color: #666;
text-decoration: none;
}

a:hover {
color: black;
text-decoration: none;
background-color: yellow;
}

a:hover img{
color: black;
text-decoration: none;
background-color: #fff;
}

body {
font-family: 'Source Code Pro', Menlo, Monaco, monospace;
font-size: 14px!important;
line-height: 1.5;
color: #666;
/*background: #cccccc;*/
}

span{color: white}
span:hover{color: black}

.page-header {
border-bottom: 1px solid #fff;
}